body {
  text-align: center;
  background-color: #D6E4E5;
  font-family: cursive;
}

h1 {
  font-size: 3rem;
  color: #EB6440;
  text-shadow: 3px 3px 3px grey;
}

footer {
  color: #497174;
}

.w {
  background-image: url('images/tom1.png');
}

.a {
  background-image: url('images/tom2.png');
}

.s {
  background-image: url('images/tom3.png');
}

.d {
  background-image: url('images/tom4.png');
}

.j {
  background-image: url('images/snare.png');
}

.k {
  background-image: url('images/crash.png');
}

.l {
  background-image: url('images/kick.png');
}

.set {
  margin: 10% auto;
}

.pressed {
  box-shadow: 0px 3px 4px #EFF5F5;
  opacity: 0.5;
}

.red {
  color: red;
}

.drum {
  width: 150px;
  height: 150px;
  outline: none;
  border: 10px solid #497174;
  border-radius: 15px;
  font-size: 3rem;
  line-height: 2;
  font-weight: 900;
  color: #DA0463;
  text-shadow: 2px 2px 2px white;
  display: inline-block;
  text-align: center;
  margin: 10px;
}
